.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.container__error {
  color: var(--red-01);
  font-family: "Ubuntu", serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  width: 100%;
}

.container__input {
  background-color: transparent;
  border: 0.0625rem solid var(--gray-02);
  border-radius: 0.5rem;
  color: var(--black-01);
  display: flex;
  font-family: "Ubuntu", serif;
  font-size: 0.75rem;
  font-weight: 700;
  height: 2.5rem;
  line-height: 1rem;
  padding: 0rem 1rem;
  width: 100%;

  &::placeholder {
    color: var(--gray-01);
  }
}

.container__input--error {
  border-color: var(--red-01);

  &:focus {
    outline-color: var(--red-01);
  }
}

.container__span {
  color: var(--black-01);
  font-family: "Ubuntu", serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
  width: 100%;
}
